* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'archivo';
    src: url(fonts/archivo.ttf);
}

/*------------------------------- Hero Section style --------------------------------*/

#hero-section {
    background-image: url(images/Hero-bg.png);
    background-size: cover;
    height: 60vh;
}

#navbar {
    display: flex;
    padding: 50px 200px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgb(55, 55, 220);
    font-size: 1.4rem;
    font-family: 'archivo', sans-serif;
    cursor: pointer;
}
.sign-up button {
     padding: 15px 40px;
    border-radius: 12px;
    border: none;
    background-color: rgb(55, 55, 220);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.sign-up button:hover {
    background-color: blue;
}

#banner-heading {
    display: flex;
    flex-direction: column;
    margin: 100px;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.heading {
    font-size: 3.5rem;
}
.stay-button {
    padding: 15px 40px;
    border-radius: 12px;
    border: none;
    background-color: rgb(55, 55, 220);
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
.stay-button:hover {
    background-color: blue;
}