* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "archivo", "archivo-black";
  src: url(fonts/archivo.ttf), url(fonts/archivo-black.ttf);
}
body {
  background-color: rgb(247, 246, 255);
}
/*------------------------------- Hero Section style --------------------------------*/

#hero-section {
  background-image: url(images/Hero-bg.png);
  background-size: cover;
  height: 65vh;
}

#navbar {
  display: flex;
  padding: 50px 240px;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  color: rgb(55, 55, 220);
  font-size: 2.4rem;
  font-weight: 800;
  font-family: "archivo", sans-serif;
  cursor: pointer;
}
.sign-up button {
  padding: 15px 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(55, 55, 220);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.sign-up button:hover {
  background-color: blue;
}

#banner-heading {
  display: flex;
  flex-direction: column;
  margin: 100px;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.heading {
  font-size: 3.5rem;
}
.stay-button {
  padding: 15px 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(55, 55, 220);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}
.stay-button:hover {
  background-color: blue;
}

/*------------------------------- Live PreviewSection style --------------------------------*/

#live {
  margin-top: 100px;
  padding: 0px 240px;
}
.live-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.live-preview {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.live-heading {
  font-size: 3rem;
  font-family: "archivo-black", sans-serif;
}
.live-para {
  font-size: 1.8rem;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: grey;
}
.live-button {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  border: none;
  background-color: rgb(55, 55, 220);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}
.live-button:hover {
  background-color: blue;
}
.live-mini-image {
  border-radius: 50px;
}

/*------------------------------- Live User style --------------------------------*/

#live-user {
  padding: 0px 200px;
  margin: 100px auto;
  width: 150vh;
  height: 32vh;
  background-color: rgb(234, 234, 250);
  border-radius: 20px;
  text-align: center;
}
.user-heading h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 2.6rem;
  font-family: "archivo", sans-serif;
  font-weight: 750;
}
.users {
  display: flex;
  justify-content: center;
  gap: 400px;
  margin-top: 50px;
}

.user-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user-item h1 {
  font-size: 3.8rem;
  font-weight: 700;
  color: rgb(55, 55, 220);
  margin: 0;
  font-family: "archivo", sans-serif;
}

.user-item strong {
  margin-top: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #959292e2;
}

/*------------------------------- Testimonial Section style --------------------------------*/

.testimonial-section {
  margin: 100px;
}

.testimonial-heading {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-family: sans-serif;
  font-weight: 700;
}

.testimonial-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 0 10px;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 450px;
  height: 250px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  color: #facc15;
  font-size: 23px;
  margin-bottom: 10px;
}

.testimonial-card h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 0px 0;
  color: #111827;
}

.testimonial-card p {
  font-size: 20px;
  color: #4b5563;
  margin: 0 0 10px 0;
}

.review-box {
  display: flex;
  align-items: center;
}

.review-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.review-info {
  display: flex;
  flex-direction: column;
}

.review-info h5 {
  margin: 0;
  font-size: 13px;
  font-weight: 750;
  color: #374151;
}

.review-info span {
  font-size: 14px;
  color: #9ca3af;
}

/*------------------------------- Trial Section style --------------------------------*/

#free-trial {
  width: 150vh;
  height: 75vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0px auto;
  border-radius: 20px;
}
.trial-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 40px;
}
.trial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.trial h2 {
  font-size: 50px;
  font-family: "archivo", sans-serif;
  font-weight: 700;
}
.trial p {
  font-size: 20px;
  color: rgba(160, 160, 160, 0.767);
}
.trial button {
  width: 250px;
  padding: 20px;
  border-radius: 12px;
  border: none;
  background-color: rgb(55, 55, 220);
  color: white;
  font-size: 1.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}
.trial button:hover {
  background-color: blue;
}
.trial-image img {
  border-radius: 30px;
}

/*------------------------------- Contact Section style --------------------------------*/


.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 240px;
  margin-top: 100px;
  width: 100%;
}

.contact-text h1 {
  font-size: 90px;
  font-weight: 900;
  color: #111;
  line-height: 1.2;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.contact-form label {
  margin-bottom: 6px;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-form input {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #fff;
}
.contact-form textarea {
  width: 100%;
  height: 130px;
  padding: 15px 20px; 
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  font-size: 16px;
  font-family: sans-serif;
}


.contact-form button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #4f46e5;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #4338ca;
}
